<header>
    <nav>
        <h1>JSPACE</h1>
        <div class="menu">
            <a class="<%= page === 'Homepage' ? 'active-link' : '' %>" href="/">Home</a>
            <a class="<%= page === 'Aboutpage' ? 'active-link' : '' %>" href="#">About</a>
            <% if(isAuth) { %>
                <a class="<%= page === 'Productpage' ? 'active-link' : '' %>" href="/all-products">Products</a>
                <a class="<%= page === 'Sellpage' ? 'active-link' : '' %>" href="/add-product">Sell</a>
                <% if (isAdmin) { %>
                    <a class="<%= page === 'Adminpage' ? 'active-link' : '' %>" href="/approve-products">Approve Products</a>
                <% } %>
                <a class="<%= page === 'uhhhh' ? 'active-link' : '' %>" href="/profile/<%= user._id %>">My Cart</a>
                <a class="<%= page === 'Profilepage' ? 'active-link' : '' %>" href="/profile/<%= user._id %>">Profile</a>
                <a class="<%= page === 'Aboutpage' ? 'active-link' : '' %>" href="/logout">Logout</a>
            <% } else { %>
                <a class="<%= page === 'Loginpage' ? 'active-link' : '' %>" href="/login">Login</a>
                <a class="<%= page === 'Signuppage' ? 'active-link' : '' %>" href="/signup">Sign Up</a>
            <% } %>
            
        </div>
        <button class="hamburger">
            <span class="material-icons">menu</span>
        </button>
    </nav>
    <div class="mobile-menu">
        <a class="<%= page === 'Homepage' ? 'active-link' : '' %>" href="/">Home</a>
        <a class="<%= page === 'Aboutpage' ? 'active-link' : '' %>" href="#">About</a>
        <% if (isAuth) { %>
            <a class="<%= page === 'Productpage' ? 'active-link' : '' %>" href="/all-products">Products</a>
            <a class="<%= page === 'Sellpage' ? 'active-link' : '' %>" href="/add-product">Sell</a>
            <% if (isAdmin) { %>
            <a class="<%= page === 'Adminpage' ? 'active-link' : '' %>" href="/approve-products">Approve Products</a>
            <% } %>
            <a class="<%= page === 'uhhhh' ? 'active-link' : '' %>" href="/profile/<%= user._id %>">My Cart</a>
            <a class="<%= page === 'Profilepage' ? 'active-link' : '' %>" href="/signup">Profile</a>
            <a class="<%= page === 'Aboutpage' ? 'active-link' : '' %>" href="/logout">Logout</a>
        <% } else { %>
            <a class="<%= page === 'Aboutpage' ? 'active-link' : '' %>" href="/login">Login</a>
            <a class="<%= page === 'Aboutpage' ? 'active-link' : '' %>" href="/signup">Sign Up</a>
        <% } %>
    </div>
</header>