<%- include('./includes/header.ejs') %>

<body>
    <%- include('./includes/navbar.ejs') %>
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img class="main-img" src="/<%= product.imageUrl1 %>" width="100%" id="ProductImg" alt="test">
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="/<%=product.imageUrl1 %>" width="100%" alt="Not found" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/<%=product.imageUrl2 %>" width="100%" alt="Not found" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/<%=product.imageUrl3 %>" width="100%" alt="Not found" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/<%= product.imageUrl4 %>" width="100%" alt="Not found" class="small-img">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p style="color: white"><a class="back-btn" href="/all-products"> Back </a> / Products</p>
                <h1 style="color: white"><%= product.name %> by <a href="/profile/<%=product.UID._id%>" class="profile-btn"><%= product.UID.username %> </a></h1>
                <h4 style="color: white">$<%= product.price %></h4>
                <% if (isAuth) { %>
                    <form method="POST" action="/add-to-cart/<%= product._id %>">
                      <button class="detail-atc-btn" style="cursor: pointer;" type="submit">Add to Cart</button>
                      <input type="hidden" name="productId" value="<%= product._id %>">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                <% } %>
                <h3 style="color: white">Product Details:<i class="fa fa-indent"></i></h3>
                <br>
                <p style="color: white"><%= product.description %>
                </p>
            </div>
        </div>
    </div>
</body>

<%- include('./includes/end.ejs') %>